<nav id="navbar" class="navbar navbar-expand-lg fixed-top px-4">
    <a class="navbar-brand fw-bold text-white" href="/"><img src="/Images/android-chrome-512x512.png" height="29" alt="LockForge Logo"> LockForge</a>

    <button class="navbar-toggler text-white" data-bs-toggle="collapse" data-bs-target="#nav">
        ☰
    </button>

    <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav ms-auto text-center">


            <% if (isLoggedIn) { %>

                <div class="dropdown">

                    <button class="btn dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">

                        <!-- Avatar (First Letter) -->
                        <div class="avatar-circle me-2">
                            <%= user.name.charAt(0).toUpperCase() %>
                        </div>

                        <span>
                            <%= user.name %>
                        </span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end user-dropdown shadow glass-dropdown">

                        <!-- USER HEADER -->
                        <li class="user-header text-center">
                            <div class="avatar-lg">
                                <%= user.name.charAt(0).toUpperCase() %>
                            </div>

                            <div class="mt-2">
                                <strong>
                                    <%= user.name %>
                                </strong><br>
                                <small>
                                    <%= user.email %>
                                </small>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <!-- LINKS -->
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/dashboard">
                                <span class="me-2"><i class="fa-solid fa-table-columns"></i></span> Dashboard
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/history">
                                <span class="me-2"><i class="fa-solid fa-clock-rotate-left"></i></span> Activity History
                            </a>
                        </li>
                        
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/security">
                            <span class="me-2"><i class="fa-solid fa-user-shield"></i></span> Security
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/about">
                            <span class="me-2"><i class="fa-solid fa-circle-info"></i></span> About
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/logout">
                                <span class="me-2"><i class="fa fa-sign-out-alt"></i></span> Logout
                            </a>
                        </li>

                    </ul>
                </div>
                

                <% } else { %>

                    <!-- ❌ Not Logged In -->
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/about">About</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/security">Security</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="#features">Features</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link text-white" href="/login">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="btn btn-light" href="/register">Register</a>
                    </li>

                    <% } %>

        </ul>
    </div>
</nav>